#closeHyperlink {
    -fx-graphic: url("../icons/close.png");
    -fx-content-display: graphic-only;
    -fx-opacity: 0.5;
}

#closeHyperlink:hover {
    -fx-opacity: 1;
}

#rootVBox {
    -fx-border-width: 1;
    -fx-border-color: dimgray;
}
