#scatterBtn {
   -fx-graphic: url("../icons/scatterplot.png");
   -fx-content-display: graphic-only;
}

#histBtn {
   -fx-graphic: url("../icons/histogram.png");
   -fx-content-display: graphic-only;
}

#heatmapBtn {
   -fx-graphic: url("../icons/heatmap.png");
   -fx-content-display: graphic-only;
}

#deleteBtn {
   -fx-graphic: url("../icons/remove.png");
   -fx-content-display: graphic-only;
}

#saveBtn {
   -fx-graphic: url("../icons/save.png");
   -fx-content-display: graphic-only;
}

#rectBtn {
   -fx-graphic: url("../icons/rectangle.png");
   -fx-content-display: graphic-only;
}

#polygonBtn {
   -fx-graphic: url("../icons/polygon.png");
   -fx-content-display: graphic-only;
}