#scatterBtn {
   -fx-graphic: url("../icons/scatterplot.png");
   -fx-content-display: graphic-only;
}

#histBtn {
   -fx-graphic: url("../icons/histogram.png");
   -fx-content-display: graphic-only;
}

#connectBtn {
   -fx-graphic: url("../icons/arrowhead.png");
   -fx-content-display: graphic-only;
}

#clearBtn {
   -fx-graphic: url("../icons/clear.png");
   -fx-content-display: graphic-only;
}